{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/shopinfo.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shopinfo.js' %}"></script>
    {#         <script src="{% static 'js/jiaoben.js' %}"></script>#}
</head>
<body>

<div class="topbar">
    <div class="topbarleft">
        <p>
					<span id="hello">
                        您好,欢迎光临戴欧妮珠宝网！
                        {% if uname %}
                            <a href="#">{{ uname }}</a>
                            <a href="{% url 'app:outlogin' %}">退出</a>
                        {% else %}
                            <a href="{% url 'app:onload' %}">登陆</a> /
                            <a href="{% url 'app:login' %}">注册</a>
                        {% endif %}
                    </span>
            <span>体验中心：<a href="#">深圳分店</a></span>
            <span class="chang">切换</span>
        </p>
    </div>
    <div class="topbarright">
        <a href="{% url 'app:mycar' %}">
					<span>
						<img src="{% static 'img/banicon.png' %}" class="img">
					            我的戴欧妮
					</span>
        </a>
        <a href="">
					<span>
						我的珠宝箱[<span class="badge">{{ waitpay }}</span>]
					</span>
        </a>
        <a href="#">
					<span>
						&lt;
					             正品认证
					</span>
        </a>
        <a href="#">
					<span>
						&lt;
					    <span class="zero">进店预约</span>
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon2.png' %}">
					            手机版
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon3.png' %}">
					             微信
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon4.png' %}">
					             微博
					</span>
        </a>
    </div>
</div>

<div id="bg"></div>
<div class="change">
    <p>切换体验中心<span>×</span></p>
    <div class="changeonee">
        <!--<div class="changeone">
            <p>华北：</p>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
        </div>
        <div class="changeone">
            <p>华北：</p>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
        </div>-->
    </div>
</div>
<div class="header">
    <div class="headerleft">
        <img src="{% static 'img/dionly.png' %}">
    </div>
    <div class="headermain">
        <p class="p1">
            <input type="text" placeholder="请输入型号或名称">
            <input type="button" value="搜索">
        </p>
        <p class="p2">
					<span>
						永恒
					</span>
            <span>
						浪漫
					</span>
            <span>
						一生
					</span>
            <span>
						爱情
					</span>
            <span>
						密语
					</span>
        </p>
    </div>
    <div class="headerright">
        <img src="{% static 'img/二维码.png' %}">
    </div>
</div>
<div class="menuer">
    <div class="menuerleft">
				<span class="one">
					所有分类
				</span>
        <span class="unhover">

				</span>
    </div>
    <div class="menuermain">
        <a href="{% url 'app:index' %}">
					<span>
						首页
					</span>
        </a>
        <a href="#">
					<span>
						裸钻
					</span>
        </a>
        <a href="#">
					<span>
						钻戒定制
					</span>
        </a>
        <a href="{% url 'app:shoplist' %}">
					<span>
						定价产品
					</span>
        </a>
        <a href="#">
					<span>
						黄金
					</span>
        </a>
        <a href="#">
					<span>
						高端定制
					</span>
        </a>
        <a href="#">
					<span>
						优惠活动
					</span>
        </a>
        <a href="#">
					<span>
						珠宝百科
					</span>
        </a>
    </div>
    <div class="menuerright">
        <img src="{% static 'img/tephone.png' %}">
    </div>
</div>
<div class="homeslider">
    <div class="classfy">
        <!--<div class="classfyone">
            <p>
                <a href="#">钻石</a>
            </p>
            <div>
                <span><a href="#">30克</a></span>
                <span><a href="#">50克</a></span>
                <span><a href="#">80克</a></span>
                <span><a href="#">1克拉</a></span>
                <span><a href="#">异形钻</a></span>
            </div>
        </div>-->
    </div>

</div>

<div class="content">
    <p class="pindex"><a href="#"><span>首页</span></a> &gt; <a href="#"><span>产品</span></a> &gt; <a
            href="#"><span>{{ shopid.name }}</span></a></p>
    <div class="contentone">
        <div class="linetop">

        </div>
        <div class="contentoneleft">
            <div class="contentonelefttop" id="smallImg">
                <div id="smallArea"
                     style="display: none; width: 60%; height: 220px; position: absolute; left: 20px; top: 0; background: rgba(255, 255, 255, 0.3);border: 1px solid #dddddd"></div>
                <img src="{{ shopid.src }}" id="showimg">
            </div>
            <div id="bigArea"
                 style="overflow: hidden; width: 80%; height: 340px;  position: absolute; left: 102%; top: 14px;border: 1px solid #dddddd;display: none;">
                <img id="bigImg" src="{% static 'img/big2.jpg' %}"
                     style="position: absolute;left: 0; top: 0; width: 800px; height: 1000px;">
            </div>
        </div>
        <div class="contentoneright">
            <div class="info">
                <div class="add">
                    <p><span class="spanone">产品名称：</span><span>{{ shopid.name }}</span></p>
                </div>

                <p><span class="spanone">选用材质：</span><span class="kspan1 spancolor spancolored ks"
                                                           id="ks">18K</span><span class="kspan2 spancolor ks" id="ks1">PT900</span><span
                        class="kspan2 spancolor ks" id="ks2">PT950</span></p>
                <p><span class="spanone">钻石重量：</span>
                    <select id="weight">
                        <option>1-10分</option>
                        <option>10-15分</option>
                        <option>15-20分</option>
                        <option>25-30分</option>
                        <option>35-40分</option>
                        <option selected="selected">40-45分</option>
                        <option>45-50分</option>
                        <option>50-55分</option>
                        <option>55-60分</option>
                        <option>60-75分</option>
                        <option>75-80分</option>
                        <option>80-85分</option>
                        <option>85-90分</option>
                        <option>90-95分</option>
                        <option>95-100分</option>
                        <option>100-105分</option>
                        <option>105-110分</option>
                        <option>115-120分</option>
                        <option>120-125分</option>
                    </select>
                    <span><a href="#">现在去选钻？</a></span></p>
                <p><span class="spanone">手寸：</span>
                    <select id="size">
                        <option>4</option>
                        <option selected="selected">4.5</option>
                        <option>4.5</option>
                        <option>5</option>
                        <option>5.5</option>
                        <option>6</option>
                        <option>6.5</option>
                        <option>7</option>
                        <option>7.5</option>
                        <option>8</option>
                        <option>8.5</option>
                        <option>9</option>
                        <option>9.5</option>
                        <option>10</option>
                        <option>10.5</option>
                        <option>11</option>
                        <option>11.5</option>
                        <option></option>
                    </select>
                </p>
                <p><span class="spanone">刻字： </span><input type="text" id="scart" maxlength="8">
                    如：Love一生（8个字符以内，中文为4个字符）</p>
                <p><span class="spanone">销售价格：</span><span style="color: red">￥</span><span
                        style="color: red">{{ shopid.content2 }}</span></p>
                <p><span class="spanone">证书说明：</span><span>单个钻石小于20分的钻饰，只出具成品鉴定证书</span></p>
                <p><span class="spanone">特别说明：</span><span>15工作日，特快定制6工作日，不含邮寄时间，有问题请<a href="#">咨询客服</a></span></p>
                <p><span class="spanone">库存配送：</span><span>有货，全国顺丰保价包邮</span></p>
                <p><span class="spanone">备注：</span><span>定制售价含 20% 损耗，最终价格按成品金重多退少补</span></p>
            </div>
            <div class="imgcar">
                <span class="tianjia1" sid="{{ shopid.id }}"><img src="{% static 'img/addtocart_zuan.png' %}"
                                                                  class="img1" id="dianji"></span>
                <span class="jiansao1" sid="{{ shopid.id }}"><img src="{% static 'img/addtofavor.png' %}" class="img2"></span>
            </div>
        </div>
    </div>


    <div class="contenttwo">
        <div class="contenttwoleft">
            <div class="contenttwoleft1">
                <div class="contenttwoleft1top">
                    百分百安心购物保证
                </div>
                <div class="contenttwoleft1bottom">
                    <img src="{% static 'img/security.gif' %}">
                </div>
            </div>
            <div class="contenttwoleft2">
                <div class="contenttwoleft2top">
                    热门推荐
                </div>
                <div class="contenttwoleft2bottom">
                    <img src="{% static 'img/FR-8039-0.jpg' %}">
                    <p>永恒之心</p>
                </div>
                <div class="contenttwoleft2bottom">
                    <img src="{% static 'img/花眸.jpg' %}">
                    <p>花眸</p>
                </div>
                <div class="contenttwoleft2bottom">
                    <img src="{% static 'img/最爱.jpg' %}">
                    <p>最爱</p>
                </div>
                <div class="contenttwoleft2bottom">
                    <img src="{% static 'img/缘徊.jpg' %}">
                    <p>缘徊</p>
                </div>
                <div class="contenttwoleft2bottom">
                    <img src="{% static 'img/ture love.jpg' %}">
                    <p>true love</p>
                </div>
            </div>
            <div class="contenttwoleft3">
                <div class="contenttwoleft3top">
                    最近浏览记录
                </div>
                <!--<div class="contenttwoleft3bottom">
                    <img src="../img/ture love.jpg" />
                    <p>true love</p>
                </div>-->
            </div>
        </div>
        <div class="contenttworight">
            <div class="contenttworighttop">
                <a href="#"><span>产品信息</span></a>
                <a href="#"><span>产品服务</span></a>
                <a href="#"><span>常见问题</span></a>
            </div>
            <div class="contenttworightimg">
                <img src="{% static 'img/small1.jpg' %}">
            </div>


            <div class="contenttworightwrite">
                <div class="productfuwu" id="productfuwu">
                    <strong>权威鉴定证书</strong>
                    <p>证书是钻石质量的保证，也是钻石身份的象征。每一颗戴欧妮极致璀璨美钻，均配备美国宝石学院GIA国际鉴定证书或国家CMA权威证书，可登陆GIA与CMA网站复核。</p>
                    <center>
                        <img alt="" src="{% static 'img/gia1.jpg' %}" data-original="../img/gia1.jpg">
                    </center>
                    <strong>专业品质</strong>
                    <p>优质选材与顶尖工艺
                        是戴欧妮缔造非凡美钻的秘密，依托自有国际珠宝创意工厂，戴欧妮汇聚全球钻饰加工顶尖技术，层层严选精品钻石，以精湛的设计与工艺，完美制作璀璨钻饰，光芒闪耀，华美，尊贵，优雅，引领风尚，见证非凡。</p>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td width="455" valign="bottom" height="30"><b>1. 精选品级 特别璀璨</b></td>
                            <td rowspan="2" width="210" height="137" align="right"><img alt=""
                                                                                        src="{% static 'img/lazyload.gif' %}">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                见证非凡的戴欧妮克拉美钻，是以严格标准，从精品钻石之中精选出来的高品级美钻。多年来，戴欧妮一直不断搜罗卓越美钻，从钻石大国南非到钻石之都比利时安特卫普，再到印度、香港等世界各地，经过长时间评估测定，严选克拉钻石当中的佼佼者，每一颗的品质都非同凡响，因此特别闪耀。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td rowspan="2" width="210" height="137" align="left"><img alt=""
                                                                                       src="{% static 'img//cpt2.jpg' %}"
                                                                                       data-original="../img//cpt2.jpg">
                            </td>
                            <td width="455" valign="bottom" height="30"><b>2. 极致切割 完美闪耀</b></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                在戴欧妮克拉美钻流光溢彩的传奇历程中，切割是其中的重要环节。未经切割的钻石，就像冰糖一样，朴实而内敛。划线，劈开，切割，从矿石到钻石，从质朴到闪耀，正式拉开序幕。为了唤醒钻石深藏的美，戴欧妮不惜切割损耗更多的原坯，以坚持完美的切割比例，完美释放克拉美钻的璀璨光芒。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td width="455" valign="bottom" height="30"><b>3. 完美打磨 光滑如镜</b></td>
                            <td rowspan="2" width="210" height="137" align="right"><img alt=""
                                                                                        src="{% static 'img/cpt3.jpg' %}"
                                                                                        data-original="../img/cpt3.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                钻石的每个切面，都需要经过细腻的打磨抛光，确保形状大小、对称性以及角度精确无瑕，才能让光线完美穿透，产生美妙的闪耀，这需要经验丰富的资深技师才能够完成。戴欧妮克拉美钻，每个切面均经过精准切磨，光滑度如同镜面，其亮光度、火彩以及闪光，都达到完美的状态，光芒极致璀璨。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td rowspan="2" width="210" height="137" align="left"><img alt=""
                                                                                       src="{% static 'img/cpt4.jpg' %}"
                                                                                       data-original="../img/cpt4.jpg">
                            </td>
                            <td width="455" valign="bottom" height="30"><b>4. 顶尖设计 再创经典</b></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                戴欧妮精品克拉钻戒的设计师，以卓越的天赋，秉承全球钻戒百年经典，以经典的镶嵌与款式为蓝本，精准把握贵金属材料的特性，根据不同形状钻石的不同美态，融合当今最时尚的潮流元素，展现出丰富又独特的不同风格，完美展现克拉美钻的闪耀风采，更成就出全新的钻戒经典。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td width="455" valign="bottom" height="30"><b>5. 从容镶嵌 技艺精湛</b></td>
                            <td rowspan="2" width="210" height="137" align="right"><img alt=""
                                                                                        src="{% static 'img/cpt5.jpg' %}"
                                                                                        data-original="../img/cpt5.jpg">
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                专注与细致，一向是戴欧妮珠宝技师的工作态度。长时间的技术积累，戒指的每个细节，早已了然于心，旁人看来惊心动魄的克拉钻镶嵌，早就做到胸有成竹。来自对每个镶爪硬度韧性、火候温度的敏锐感觉与精准把握。电光火石之间，克拉美钻的镶嵌自然水到渠成，毫厘不差，稳妥而美丽非凡。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td rowspan="2" width="210" height="137" align="left"><img alt=""
                                                                                       src="{% static 'img/cpt6.jpg' %}"
                                                                                       data-original="../img/cpt6.jpg">
                            </td>
                            <td width="455" valign="bottom" height="30"><b>6. 巧夺天工 至美无瑕</b></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                完美难得，尤其对于克拉钻戒，毫厘之差，即可能沦为普通钻戒。完美的克拉钻戒，要求细腻的表面抛光加工，这需要一份对完美的执着，以及对表面工艺的精深把握。每一枚克拉钻戒，戴欧妮资深技师都不容许自己留下半点遗憾，让每颗钻戒的美浑然天成，质感顺滑如丝，佩戴体验无比美妙。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <strong>个性刻字</strong>
                    <p>优质选材与顶尖工艺
                        是戴欧妮缔造非凡美钻的秘密，依托自有国际珠宝创意工厂，戴欧妮汇聚全球钻饰加工顶尖技术，层层严选精品钻石，以精湛的设计与工艺，完美制作璀璨钻饰，光芒闪耀，华美，尊贵，优雅，引领风尚，见证非凡。</p>
                    <center>
                        <img alt="" src="{% static 'img/cpt7.jpg' %}" data-original="../img/cpt7.jpg">
                    </center>
                    <strong>精美包装</strong>
                    <div class="productpack">
                        <p>精美的珠宝，需要精致的包装，戴欧妮提供的免费包装，不单给予珠宝妥帖的保护，时尚的设计与优良的做工、精致、优雅，是品位的象征，送礼更显尊贵。</p>
                    </div>
                    <strong>放心物流</strong>
                    <div class="productsend">
                        <p>为了珠宝的安全与快捷送达，戴欧妮全程采用顺丰快递进行配送，并全部购买高额保险，通过与合作伙伴的专业协作，提供了安全快速的服务。</p>
                    </div>
                    <strong>无忧售后</strong>
                    <p>通过优质选材与精湛工艺，戴欧妮为客户提供高品质的产品。因珠宝的特殊性，黄金产品和定制类产品一经售出概不退换，其它产品30天内如有质量问题，请联系售后客服办理退换货。</p>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td rowspan="2" width="80" valign="top" height="90" align="left"><img alt=""
                                                                                                  src="{% static 'img/fuwu1.jpg' %}"
                                                                                                  data-original="../img/fuwu1.jpg"
                                                                                                  width="69"
                                                                                                  height="66"></td>
                            <td valign="top"><b>终生免费保养清洗</b></td>
                            <td rowspan="2" width="80" valign="top" height="90" align="left"><img alt=""
                                                                                                  src="{% static 'img/fuwu6.jpg' %}"
                                                                                                  data-original="../img/fuwu6.jpg"
                                                                                                  width="69"
                                                                                                  height="66"></td>
                            <td valign="top"><b>权威认证 保证质量</b></td>
                        </tr>
                        <tr>
                            <td width="270" valign="top" height="51">我们提供了为您购买的戴欧妮饰品提供终身免费<br>保养清洗服务。</td>
                            <td width="270" valign="top">戴欧妮每件钻饰都配有国家CMA或国际权威机构出具的珠宝钻石鉴定证书，确保产品品质。</td>
                        </tr>
                        <tr>
                            <td rowspan="2" valign="top" height="90" align="left"><img alt=""
                                                                                       src="{% static 'img/fuwu2.jpg' %}"
                                                                                       data-original="../img/fuwu2.jpg"
                                                                                       width="69" height="66"></td>
                            <td valign="top"><b>终身免费修改指圈</b></td>
                            <td rowspan="2" valign="top" height="90" align="left"><img alt=""
                                                                                       src="{% static 'img/fuwu5.jpg' %}"
                                                                                       data-original="../img/fuwu5.jpg"
                                                                                       width="69" height="66"></td>
                            <td valign="top"><b>VIP免费翻新</b></td>
                        </tr>
                        <tr>
                            <td valign="top" height="53">戒指手寸大小改动，在工艺过程中会存在重金属<br>损耗，详情请质询戴欧妮珠宝顾问。</td>
                            <td valign="top">所有尊贵的戴欧妮VIP会员可另享每年免费翻新一次的尊贵服务。</td>
                        </tr>
                        </tbody>
                    </table>
                    <strong>钻饰保养</strong>
                    <p>品质出众的戴欧妮钻石，以领先的设计与精湛工艺，光彩照人，佩戴起来自然拥有超凡魅力。钻石饰品珍贵，需要小心佩戴与呵护，以下是日常保养建议：</p>
                    <table width="700" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td rowspan="5" width="264" height="264" align="left"><img alt=""
                                                                                       src="{% static 'img/cpt11.jpg' %}"
                                                                                       data-original="../img/cpt11.jpg"
                                                                                       width="234" height="233"></td>
                            <td width="240" valign="bottom"><b>1. 懂得清洁钻石</b></td>
                            <td rowspan="5" width="190" valign="middle" align="right"><img alt=""
                                                                                           src="{% static 'img/cpt12.jpg' %}"
                                                                                           data-original="../img/cpt12.jpg"
                                                                                           width="180"></td>
                        </tr>
                        <tr>
                            <td valign="top">保持钻石的干净，钻石的璀璨取决于可以进入其中光线的多少，手指的触摸会留下污迹，从而影响光线反射，可选用质保单提供的清洗方法进行清洁。</td>
                        </tr>
                        <tr>
                            <td valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td valign="bottom"><b>2. 懂得保护钻石</b></td>
                        </tr>
                        <tr>
                            <td valign="top">当不佩戴时，请始终将钻饰单独存放在首饰盒中，虽然钻石是人类所知的最坚硬物质之一，但钻石与钻石之间会产生刮擦损伤，所以请将钻石首饰单独存放。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="productfuwu" id="productasks">
                    <strong>问：什么是钻石的"4C"？ 那个因素最重要？</strong>
                    <p>
                        答：4C是衡量钻石价值的重要指标，具体指切工（cut）、重量（carat）、净度（clarity）、颜色（color）。这其中，切工是最重要的，因为切工的好坏直接决定钻石是不是闪亮，可以说，切工给钻石缔造了第二次生命。</p>
                    <strong>问：什么是八心八箭？</strong>
                    <p>
                        答：八心八箭在钻石的切工上，代表一种极致的切割状态，在具有特定切割比例的钻石中看到的是一种光学现象，由钻石刻面和折射出的刻面倒影组成。八心八箭是丘比特切工的代表作，和经典比利时切工相比，丘比特切工对钻石毛胚要求很高，只有低台宽比和亭深比，并且对称性很好才能形成标准"八心八箭"现象。</p>
                    <strong>问：钻石是不是级别越高越好？</strong>
                    <p>答：作为收藏投资来说，自然是级别越高越好，作为日常佩带，我们推荐有高性价比的钻石，这是明智的钻饰消费。</p>
                    <strong>问：钻石证书有哪些？</strong>
                    <p>
                        答：因为钻石鉴定分级的专业性，只有钻石界最专业最权威的鉴定机构才能以其最严谨、最一致和最公正的鉴定结果为钻石出具身份证明。戴欧妮提供的钻石珠宝饰品均由中国国家级鉴定机构检验鉴定，譬如国家宝玉石质量监督检验中心（简称国检），和国际权威鉴定机构如美国宝石学院（简称GIA），其严格检验出具的证书在全球都可通用。</p>
                    <strong>问：拿到钻石和证书后，如何复检？</strong>
                    <p>答：首先，可登录各相关鉴定证书上的网址，输入信息查询饰品的鉴定情况，亦可携带钻石饰品就近到相关检验机构申请复检。</p>
                </div>

            </div>


        </div>
    </div>


</div>


<div class="center">
    <div class="one">
        <h2>体验中心</h2>
        <ul id="list">
            <!--<li class="selected">北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>-->
        </ul>
    </div>
    <div class="two">
        <div class="left" id="list2">
            <!--<p class="p1ed">胡安娜.胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>-->
        </div>
        <div class="right" id="mappicture">
            <!--<img src="../img/chengdu.jpg"/>-->
        </div>
    </div>
</div>
<div class="security">

</div>
<div class="footer">
    <div class="footerone">
        <div class="kuang kuanga">
            <i class="ione"></i>
            <ul>
                <li class="lii"> 购买支付</li>
                <li><a href="#">新手教程</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">支付常见问题</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="itwo"></i>
            <ul>
                <li class="lii"> 收获指南</li>
                <li><a href="#">订单处理时间</a></li>
                <li><a href="#">配送方法和收费</a></li>
                <li><a href="#">防伪包装</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ithree"></i>
            <ul>
                <li class="lii">售后服务</li>
                <li><a href="#">质量承诺</a></li>
                <li><a href="#">购物协议</a></li>
                <li><a href="#">售后服务</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ifour"></i>
            <ul>
                <li class="lii"> 会员中心</li>
                <li><a href="#">如何成为会员</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">优惠政策</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ifive"></i>
            <ul>
                <li class="lii"> 关于戴欧妮</li>
                <li><a href="#">戴欧妮介绍</a></li>
                <li><a href="#">戴欧妮资质</a></li>
                <li><a href="#">戴欧妮优势</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="isix"></i>
            <ul>
                <li class="lii"> 更多服务</li>
                <li><a href="#">鉴定机构</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">网站地图</a></li>
            </ul>
        </div>
    </div>
    <div class="footertwo">
        <p>
					<span class="span1">
                                                                体验中心地址：广东省深圳市南山区创业路中兴工业城9栋601 联系电话：4006578478
					</span>
            <span class="span2">
						全球24小时服务热线
					</span>
        </p>
        <p class="p1">
					<span class="span1">
						Copyright @ 2007-2014 深圳市戴欧妮网络科技有限公司 ALL Rights Reserved 经营许可证编号：粤B2-20080371 粤ICP备11058956号-1
					</span>
            <span class="span3">
						4006-578-478
					</span>
        </p>
    </div>
    <div class="footerthree">
        <div class="onee">
            <div class="img">
                <img src="{% static 'img/icon1_03.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">网上交易</p>
                <p>保障中心</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon2_05.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">众信认证</p>
                <p>安全电商</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon3_03.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">工商网监</p>
                <p>电子信息</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon4_11.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">经营性网站</p>
                <p>备案信息</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon5_14.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">诚信电商</p>
                <p>信用认证</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon6_16.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">百度推广</p>
                <p>安全认证</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon7_05.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">戴欧妮珠宝</p>
                <p>荣誉证书</p>
            </div>
        </div>
    </div>
    <div class="footerfour">
        <p class="p1">
            友情链接：
            <a href="#">钻石&nbsp;&nbsp;&nbsp;</a> <a href="#">正佳养生网 &nbsp;&nbsp;&nbsp; </a><a href="#">中关村商城&nbsp;&nbsp;&nbsp;</a><a
                href="#">裸钻&nbsp;&nbsp;&nbsp;</a><a href="#">钻石珠宝论坛&nbsp;&nbsp;&nbsp;
        </a><a href="#">麻豆网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">时尚生活网&nbsp;&nbsp;&nbsp; </a><a href="#"> 母亲节礼物&nbsp;&nbsp;&nbsp;</a><a href="#">中国美业网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">婚戒 &nbsp;&nbsp;&nbsp;</a><a href="#">结婚 &nbsp;&nbsp;&nbsp; </a><a href="#">新疆和田玉&nbsp;&nbsp;&nbsp;</a><a
                href="#">手礼网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">和田玉 &nbsp;&nbsp;&nbsp; </a><a href="#">国美在线优惠券 &nbsp;&nbsp;&nbsp;</a><a href="#">钻戒网&nbsp;&nbsp;&nbsp;</a><a
                href="#">服装搭配&nbsp;&nbsp;&nbsp;</a>

        </p>
        <p class="p2">友情链接请加QQ:2992936048</p>
    </div>
</div>
<!--<div class="Zxs">
    <div class="Zxsone">
        <img src="../img/售前服务.png" />
        <p>售前服务</p>
    </div>
    <div class="Zxsone">
        <img src="../img/售前服务.png" />
        <p>售前服务</p>
    </div>
    <div class="Zxsone">
        <img src="../img/售后咨询.png" />
        <p>售后咨询</p>
    </div>
    <div class="Zxsone">
        <img src="../img/加盟咨询.png" />
        <p>加盟咨询</p>
    </div>
    <div class="Zxsone">
        <img src="../img/二维码1.png" />
        <p>二维码</p>
    </div>
    <div class="Zxsone">
        <img src="../img/返回顶部.png" />
        <p>返回顶部</p>
    </div>
</div>-->


</body>
</html>
