{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/zixun.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
</head>
<body>
<div class="topbar">
    <div class="topbarleft">
        <p>
					<span id="hello">
						您好,欢迎光临戴欧妮珠宝网！
                        {% if uname %}
                            <a href="#">用户名：{{ uname }}</a>
                            <a href="{% url 'app:outlogin' %}" style="color: red;">退出</a>
                            {% else %}
                            <a href="{% url 'app:onload' %}">登陆</a> /
                            <a href="{% url 'app:login' %}">注册</a>
                        {% endif %}
					</span>
            <a href="#"><span class="tiyan">体验中心：深圳分店</span></a>
            <span class="chang">切换</span>
        </p>
    </div>
    <div class="topbarright">
        <a href="#">
					<span>
						<img src="{% static 'atic/img/banicon.png' %}" class="img">
					            我的戴欧妮
					</span>
        </a>
        <a href="#">
					<span>
						我的珠宝箱[<span class="zero zero1">0</span>]
					</span>
        </a>
        <a href="#">
					<span>
						&lt;
					             正品认证
					</span>
        </a>
        <a href="#">
					<span>
						&lt;
					    <span class="zero">进店预约</span>
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon2.png' %}">
					            手机版
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon3.png' %}">
					             微信
					</span>
        </a>
        <a href="#">
					<span>
						<img src="{% static 'img/banicon4.png' %}">
					             微博
					</span>
        </a>
    </div>
</div>


<div id="bg"></div>
<div class="change">
    <p>切换体验中心<span>×</span></p>
    <div class="changeonee">
        <!--<div class="changeone">
            <p>华北：</p>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
        </div>
        <div class="changeone">
            <p>华北：</p>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
            <span>北京·戴欧妮旗舰店</span>
        </div>-->
    </div>

</div>


<div class="header">
    <div class="headerleft">
        <img src="{% static 'img/dionly.png' %}">
    </div>
    <div class="headermain">
        <p class="p1">
            <input placeholder="请输入型号或名称" type="text">
            <input value="搜索" type="button">
        </p>
        <p class="p2">
					<span>
						永恒
					</span>
            <span>
						浪漫
					</span>
            <span>
						一生
					</span>
            <span>
						爱情
					</span>
            <span>
						密语
					</span>
        </p>
    </div>
    <div class="headerright">
        <img src="{% static 'img/二维码.png' %}">
    </div>
</div>
<div class="menuer">
    <div class="menuerleft">
				<span class="one">
					所有分类
				</span>
        <span class="unhover">

				</span>
    </div>
    <div class="menuermain">
        <a href="#">
					<span>
						首页
					</span>
        </a>
        <a href="#">
					<span>
						裸钻
					</span>
        </a>
        <a href="#">
					<span>
						钻戒定制
					</span>
        </a>
        <a href="#">
					<span>
						定价产品
					</span>
        </a>
        <a href="#">
					<span>
						黄金
					</span>
        </a>
        <a href="#">
					<span>
						高端定制
					</span>
        </a>
        <a href="#">
					<span>
						优惠活动
					</span>
        </a>
        <a href="#">
					<span>
						珠宝百科
					</span>
        </a>
    </div>
    <div class="menuerright">
        <img src="{% static 'img/tephone.png' %}">
    </div>
</div>
<div class="homeslider">
    <div class="classfy">
        <!--<div class="classfyone">
            <p>
                <a href="#">钻石</a>
            </p>
            <div>
                <span><a href="#">30克</a></span>
                <span><a href="#">50克</a></span>
                <span><a href="#">80克</a></span>
                <span><a href="#">1克拉</a></span>
                <span><a href="#">异形钻</a></span>
            </div>
        </div>-->
    </div>
    <ul id="listt">
        <li>
            <!-- Swiper -->
            <div class="swiper-container" id="listt">
                <div class="swiper-wrapper">
                    {% for foo in lunbo %}
                        <div class="swiper-slide"><img src="{{ foo.img }}"></div>
                    {% endfor %}

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </li>
    </ul>
    <ul id="list22">
        <!--<li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>-->
    </ul>
</div>

<div id="bga"></div>
<div class="changea">
    <p class="pdeng">登录提示<span>×</span></p>
    <div class="changeoneea">
        <p class="num"></p>
    </div>
    <input value="确定" type="button">
</div>


<div class="homeline1">
    <a href="#">
        <div class="homeline1left">
            <img src="{% static 'img/sweet.jpg' %}">
            <p>SWEET系列产品</p>
        </div>
    </a>
    <a href="#">
        <div class="homeline1main">
            <img src="{% static 'img/small20160304341049.jpg' %}">
            <p>最新活动</p>
        </div>
    </a>
    <a href="#">
        <div class="homeline1right">
            <img src="{% static 'img/agent.jpg' %}">
            <p>招商合作</p>
        </div>
    </a>
    <a href="#">

    </a>
</div>
<div class="homeline2">
    <a href="#">
        <div class="homeline2left">
            <img src="{% static 'img/leftdiamondimg.png' %}">
        </div>
    </a>

    <div class="homeline2right">
        <p class="p1">
				    <span class="stoneAll">
				     	<span class="stone">
				     		石重
				     	</span>
				     	<input value="0.00" type="text"> --
				     	<input value="10.00" type="text">  克拉
				    </span>
            <span class="colorAll">
				     	<span class="stone1 stone">
				     		颜色
				     	</span>
				     	<img src="{% static 'img/1.png' %}">
				     	<img src="{% static 'img/2_002.png' %}">
					    <img src="{% static 'img/3.png' %}">
					    <img src="{% static 'img/4_002.png' %}">
					    <img src="{% static 'img/5_002.png' %}">
					    <img src="{% static 'img/6.png' %}">
					    <img src="{% static 'img/7.png' %}">
				    </span>
        </p>
        <p class="p2">
				    <span class="stoneAll">
				     	<span class="stone">
				     		抛光
				     	</span>
				     	<img src="{% static 'img/1_003.png' %}" class="img1">
				     	<img src="{% static 'img/2.png' %}" class="img1">
				     	<img src="{% static 'img/4_002.png' %}" class="img1">
				     	<img src="{% static 'img/4_003.png' %}" class="img1">
				    </span>
            <span class="colorAll">
				     	<span class="stone1 stone">
				     		净度
				     	</span>
				     	<img src="{% static 'img/1_002.png' %}" class="img">
				     	<img src="{% static 'img/2_003.png' %}" class="img">
				     	<img src="{% static 'img/3_002.png' %}" class="img">
				     	<img src="{% static 'img/4.png' %}" class="img">
				     	<img src="{% static 'img/5.png' %}" class="img">
				     	<img src="{% static 'img/6_002.png' %}" class="img">
				    </span>
        </p>
        <p class="p3">
            <a><img src="{% static 'img/searchbtn.jpg' %}"></a>
        </p>
    </div>
</div>
<div class="homeline3">
    <div class="homeline3left">
        <div class="one">
            <img src="{% static 'img/对戒.png' %}">
        </div>
        <div class="two">
            <ul class="list1">
                <li>女戒</li>
                <li>男戒</li>
                <li>对戒</li>
            </ul>
            <ul class="list2">
                <li>1000元以下</li>
                <li>1000-1999元</li>
                <li>2000-2999元</li>
                <li>3000元以上</li>
            </ul>
        </div>
    </div>
    <div class="homeline3main">
        <img src="{% static 'img/2.jpg' %}">
    </div>
    <div class="homeline3right">
        <div class="one">
            <div class="onea">
                <a href="../shoplist/shoplist.html">
                    <img src="{% static 'img/3_005.jpg' %}">
                </a>

            </div>
            <div class="oneb">
                <img src="{% static 'img/4_007.jpg' %}">
            </div>
        </div>
        <div class="two">
            <div class="twoa">
                <img src="{% static 'img/5_002.jpg' %}">
            </div>
            <div class="twob">
                <img src="{% static 'img/6.jpg' %}">
            </div>
            <div class="twoc">
                <img src="{% static 'img/7_004.jpg' %}">
            </div>
        </div>
    </div>
</div>
<div class="homeline4">
    <div class="one">
        <img src="{% static 'img/1 (1).jpg' %}">
    </div>
    <div class="two">
        <img src="{% static 'img/2(3).jpg' %}">
    </div>
    <div class="two">
        <img src="{% static 'img/3(3).jpg' %}">
    </div>
    <div class="two">
        <img src="{% static 'img/4(3).jpg' %}">
    </div>
</div>
<div class="homeline5">
    <div class="homeline5left">
        <div class="one">
            <img src="{% static 'img/情侣对戒.jpg' %}">
        </div>
        <div class="two">
            <ul class="list1">
                <li>18k</li>
                <li>钻石</li>
            </ul>
            <ul class="list2">
                <li>3000-5000元</li>
                <li>5000元以上</li>
            </ul>
        </div>
    </div>
    <div class="homeline5main">
        <div class="one">
            <div class="onea">
                <img src="{% static 'img/2(4)_03.jpg' %}">
            </div>
            <div class="oneb">
                <img src="{% static 'img/3(4)_03.jpg' %}">
            </div>
        </div>
        <div class="two">
            <div class="twoa">
                <img src="{% static 'img/4(4)_03.jpg' %}">
            </div>
            <div class="twob">
                <img src="{% static 'img/5_003_03.jpg' %}">
            </div>
            <div class="twoc">
                <img src="{% static 'img/6_003_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="homeline5right">
        <img src="{% static 'img/7(1).jpg' %}">
    </div>
</div>

<div class="homeline6">
    <div class="homeline6left">
        <div class="one">
            <img src="{% static 'img/红宝石5.jpg' %}">
        </div>
        <div class="two">
            <ul class="list1">
                <li>碧玺</li>
                <li>红宝石</li>
                <li>蓝宝石</li>
                <li>芙蓉石</li>
            </ul>
            <ul class="list2">
                <li>1000-2000元</li>
                <li>2000-3000元</li>
                <li>3000-5000元</li>
                <li>5000元以上</li>
            </ul>
        </div>
    </div>
    <div class="homeline6main">
        <img src="{% static 'img/红宝石2.jpg' %}">
    </div>
    <div class="homeline6right">
        <div class="one">
            <div class="onea">
                <img src="{% static 'img/红宝石1.jpg' %}">
            </div>
            <div class="oneb">
                <img src="{% static 'img/红宝石7.jpg' %}">
            </div>
        </div>
        <div class="two">
            <div class="twoa">
                <img src="{% static 'img/红宝石6.jpg' %}">
            </div>
            <div class="twob">
                <img src="{% static 'img/红宝石3.jpg' %}">
            </div>
            <div class="twoc">
                <img src="{% static 'img/红宝石4.jpg' %}">
            </div>
        </div>
    </div>
</div>

<div class="homeline8">
    <img src="{% static 'img/1.jpg' %}">
</div>

<div class="homeline9">
    <div class="homeline9left">
        <div class="one">
            <img src="{% static 'img/珍珠1_22.jpg' %}">
        </div>
        <div class="two">
            <ul class="list1">
                <li>珍珠吊坠</li>
                <li>珍珠耳饰</li>
            </ul>
            <ul class="list2">
                <li>1000-2000元</li>
                <li>2000-3000元</li>
                <li>3000-5000元</li>
                <li>5000元以上</li>
            </ul>
        </div>
    </div>
    <div class="homeline9main">
        <div class="one">
            <div class="onea">
                <img src="{% static 'img/珍珠1_23.jpg' %}">
            </div>
            <div class="oneb">
                <img src="{% static 'img/珍珠2_25.jpg' %}">
            </div>
        </div>
        <div class="two">
            <div class="twoa">
                <img src="{% static 'img/珍珠3_30.jpg' %}">
            </div>
            <div class="twob">
                <img src="{% static 'img/珍珠4_32.jpg' %}">
            </div>
            <div class="twoc">
                <img src="{% static 'img/珍珠5_34.jpg' %}">
            </div>
        </div>
    </div>
    <div class="homeline9right">
        <img src="{% static 'img/珍珠6_27.jpg' %}">
    </div>
</div>

<div class="homeline10">
    <div class="homeline10left">
        <div class="one">
            <img src="{% static 'img/黄金1_41.jpg' %}">
        </div>
        <div class="two">
            <ul class="list1">
                <li>投资金条</li>
                <li>黄金饰品</li>
            </ul>
            <ul class="list2">
                <li>1000元以下</li>
                <li>1000-1999元</li>
                <li>2000-2999元</li>
                <li>3000元以上</li>
            </ul>
        </div>
    </div>
    <div class="homeline10main">
        <div class="one">
            <div class="onea">
                <img src="{% static 'img/黄金2_42.jpg' %}">
            </div>
            <div class="oneb">
                <img src="{% static 'img/黄金3_44.jpg' %}">
            </div>
        </div>
        <div class="two">
            <div class="twoa">
                <img src="{% static 'img/黄金4_48.jpg' %}">
            </div>
            <div class="twob">
                <img src="{% static 'img/黄金5_50.jpg' %}">
            </div>
            <div class="twoc">
                <img src="{% static 'img/黄金6_52.jpg' %}">
            </div>
        </div>
    </div>
    <div class="homeline10right">
        <img src="{% static 'img/黄金7_45.jpg' %}">
    </div>
</div>
<div class="news">
    <div class="newsone">
        <p>最新资讯</p>
        <img src="{% static 'img/1(4).jpg' %}" class="img1">
        <!--<div>
            <img src="../img/disc_03.jpg" class="img1"/>
            <a href="#">美国女子商店买蛤蜊吃出罕见紫色珍珠</a>
        </div>
        <div>
            <img src="../img/disc_03.jpg" class="img1"/>
            <a href="#">美国女子商店买蛤蜊吃出罕见紫色珍珠</a>
        </div>-->

    </div>
    <div class="newstwo">
        <p>钻石百科</p>
        <img src="{% static 'img/2(8).jpg' %}" class="img1">

    </div>
    <div class="newsthree">
        <p>婚嫁百科</p>
        <img src="{% static 'img/3 (1).jpg' %}" class="img1">

    </div>
    <div class="newsfour">
        <img src="{% static 'img/4 (1).jpg' %}" class="img2">
    </div>
</div>
<div class="center">
    <div class="one">
        <h2>体验中心</h2>
        <ul id="list">
            <!--<li class="selected">北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>
            <li>北京</li>-->
        </ul>
    </div>
    <div class="two">
        <div class="left" id="list2">
            <!--<p class="p1ed">胡安娜.胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>
            <p class="p2ed">胡安娜胡安娜胡安娜胡安娜胡安娜胡安娜</p>-->
        </div>
        <div class="right" id="mappicture">
            <!--<img src="../img/chengdu.jpg"/>-->
        </div>
    </div>
</div>
<div class="security">

</div>
<div class="footer">
    <div class="footerone">
        <div class="kuang kuanga">
            <i class="ione"></i>
            <ul>
                <li class="lii"> 购买支付</li>
                <li><a href="#">新手教程</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">支付常见问题</a></li>
            </ul>
        </div>

        <div class="kuang">
            <i class="itwo"></i>
            <ul>
                <li class="lii"> 收获指南</li>
                <li><a href="#">订单处理时间</a></li>
                <li><a href="#">配送方法和收费</a></li>
                <li><a href="#">防伪包装</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ithree"></i>
            <ul>
                <li class="lii">售后服务</li>
                <li><a href="#">质量承诺</a></li>
                <li><a href="#">购物协议</a></li>
                <li><a href="#">售后服务</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ifour"></i>
            <ul>
                <li class="lii"> 会员中心</li>
                <li><a href="#">如何成为会员</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">优惠政策</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="ifive"></i>
            <ul>
                <li class="lii"> 关于戴欧妮</li>
                <li><a href="#">戴欧妮介绍</a></li>
                <li><a href="#">戴欧妮资质</a></li>
                <li><a href="#">戴欧妮优势</a></li>
            </ul>
        </div>
        <div class="kuang">
            <i class="isix"></i>
            <ul>
                <li class="lii"> 更多服务</li>
                <li><a href="#">鉴定机构</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">网站地图</a></li>
            </ul>
        </div>
    </div>
    <div class="footertwo">
        <p>
					<span class="span1">
                                                                体验中心地址：广东省深圳市南山区创业路中兴工业城9栋601 联系电话：4006578478
					</span>
            <span class="span2">
						全球24小时服务热线
					</span>
        </p>
        <p class="p1">
					<span class="span1">
						Copyright @ 2007-2014 深圳市戴欧妮网络科技有限公司 ALL Rights Reserved 经营许可证编号：粤B2-20080371 粤ICP备11058956号-1
					</span>
            <span class="span3">
						4006-578-478
					</span>
        </p>
    </div>
    <div class="footerthree">
        <div class="onee">
            <div class="img">
                <img src="{% static 'img/icon1_03.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">网上交易</p>
                <p>保障中心</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon2_05.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">众信认证</p>
                <p>安全电商</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon3_03.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">工商网监</p>
                <p>电子信息</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon4_11.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">经营性网站</p>
                <p>备案信息</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon5_14.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">诚信电商</p>
                <p>信用认证</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon6_16.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">百度推广</p>
                <p>安全认证</p>
            </div>
        </div>
        <div class="one">
            <div class="img">
                <img src="{% static 'img/icon7_05.jpg' %}">
            </div>
            <div class="info">
                <p class="p1">戴欧妮珠宝</p>
                <p>荣誉证书</p>
            </div>
        </div>
    </div>
    <div class="footerfour">
        <p class="p1">
            友情链接：
            <a href="#">钻石&nbsp;&nbsp;&nbsp;</a> <a href="#">正佳养生网 &nbsp;&nbsp;&nbsp; </a><a href="#">中关村商城&nbsp;&nbsp;&nbsp;</a><a
                href="#">裸钻&nbsp;&nbsp;&nbsp;</a><a href="#">钻石珠宝论坛&nbsp;&nbsp;&nbsp;
        </a><a href="#">麻豆网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">时尚生活网&nbsp;&nbsp;&nbsp; </a><a href="#"> 母亲节礼物&nbsp;&nbsp;&nbsp;</a><a href="#">中国美业网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">婚戒 &nbsp;&nbsp;&nbsp;</a><a href="#">结婚 &nbsp;&nbsp;&nbsp; </a><a href="#">新疆和田玉&nbsp;&nbsp;&nbsp;</a><a
                href="#">手礼网&nbsp;&nbsp;&nbsp;</a>
            <a href="#">和田玉 &nbsp;&nbsp;&nbsp; </a><a href="#">国美在线优惠券 &nbsp;&nbsp;&nbsp;</a><a href="#">钻戒网&nbsp;&nbsp;&nbsp;</a><a
                href="#">服装搭配&nbsp;&nbsp;&nbsp;</a>

        </p>
        <p class="p2">友情链接请加QQ:2992936048</p>
    </div>
</div>
<div class="Zxs">
    <div class="Zxsone">
        <img src="{% static 'img/售前服务.png' %}">
        <p>售前服务</p>
    </div>
    <div class="Zxsone">
        <img src="{% static 'img/售前服务.png' %}">
        <p>售前服务</p>
    </div>
    <div class="Zxsone">
        <img src="{% static 'img/售后咨询.png' %}">
        <p>售后咨询</p>
    </div>
    <div class="Zxsone">
        <img src="{% static 'img/加盟咨询.png' %}">
        <p>加盟咨询</p>
    </div>
    <div class="Zxsone">
        <img src="{% static 'img/二维码1.png' %}">
        <p>二维码</p>
    </div>
    <div class="Zxsone">
        <img src="{% static 'img/返回顶部.png' %}">
        <p>返回顶部</p>
    </div>
    <img src="{% static 'img/vm.png' %}" class="erweima">
</div>
</body>
</html>
