input,select{
	outline: none;
	border: none;
}
.homeslider{
	background: #fef1ef;
	/*height: 300px;*/
	width: 100%;
	/*overflow: hidden;*/
	margin-top:-20px;
	
}
.homeslider .cart{
	margin-top: 20px;
	margin-left: 6%;
	width: 88.2%;
	border: 1px solid#CCCCCC;
	margin-bottom: 20px;
	
}
.homeslider .cart .linetop{
	width: 100%;
	height: 17px;
	background: white;
	border-top: 2px solid pink;
}
.homeslider .cart .linetop1{
	width: 100%;
	height: 17px;
	background: white;
}
.homeslider .cart  .title{
	background: white;
	/*margin-bottom: 20px;*/
	height: 30px;
	width: 100%;
}
.homeslider .cart  p{
	margin-left: 2%;
	vertical-align: top;
	width: 96%;
	height: 29px;
	line-height: 29px;
	border-bottom: 1px solid #CCCCCC;
}

.carshop{
	background: white;
	padding-bottom: 10px;
	overflow: scroll;
}
.carshoped{
	/*padding-top: 115px;*/
	/*background: url(../img/cartnone.jpg) no-repeat;*/
	background-size: cover;
	height: 331px;
	padding-bottom: 0;
}
.homeslider .cart .cartp{
	display: none;
	padding-left: 1%;
	margin-left: 50%;
	width: 22%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	background: #fef1ef;

}
.homeslider .carshop .linetop2{
	width: 98%;
	height: 40px;
	line-height: 40px;
	margin-left: 1%;
	border-bottom: none;
}
.homeslider .carshop .linetop2{
	margin-top: -17px;
    margin-left: 2%;
}

.carshop .linetop2 span,ul span{
	float: left;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
ul span{
	height: 140px;
	line-height: 140px;
}
.spanshop1{
	width: 14%;
}
.spanshop2,.spanlove2{
	width: 25%;
}

/*.spanshop3,.spanlove3{*/
	/*width: 9%;*/
/*}*/
.spanshop4,.spanlove4{
	width: 14%;
}
.spanshop5,.spanlove5{
	width: 9%;
}
/*.spanshop6,.spanlove6{*/
	/*width: 9%;*/
/*}*/
.spanshop7,.spanlove7{
	width: 9%;
}

.spanlove2{
	width: 25.5%;
	cursor: pointer;
}
/*.spanlove3{*/
	/*width: 9.2%;*/
/*}*/
.spanlove4{
	width: 14.4%;
	font-size: 30px;
}
.spanlove5{
	width: 9.1%;
	text-decoration: line-through;
	color: #c11e1f;
}
/*.spanlove6{*/
	/*width: 9.1%;*/
/*}*/
.spanlove7{
	width: 9.3%;
	color: green;
}

.carshop ul{
	padding-top: 2px;
    padding-left: 0.5%;
    padding-bottom: 5px;
	margin-left: 2%;
	width: 96%;
	list-style: none;
	background: #f7f7f7;
}
.carshop ul li{
	margin-top: 5px;
	width: 100%;
	height: 140px;
	margin-bottom: 5px;
}
.picture1{
	float: left;
	height: 140px;
	width: 14%;
}
.picture1 img{
	width: 100%;
	height: 100%;
}
.delete{
	/*width: 100%;*/
	height: 14px;
	line-height: 14px;
	 cursor: pointer;
}
.delete{
	margin-top: 60px;
}
.homeslider .carshop .linetop3,.homeslider .carshop .count{
	height: 60px;
	line-height: 40px;
	float: left;
	width: 50%;
	background: #f7f7f7;
}
.bottom{
	height: 40px;
	margin-left: 2%;
	padding-top: 1%;
}
.carshop .linetop3{
	display: inline-block;
}
.homeslider .carshop .count{
	width: 48%;
}
.carshop .num1{
	color: #c11e1f;
	margin: 0 0.5%;
}
.carshop .go{
	margin-left: 3%;
	color: #db3962;
	cursor: pointer;
}
.carshop #clear1{
	cursor: pointer;
}
.bottom .count .total{
	color: #c11e1f;
	font-size: 14px;
}
.bottom .count .jiedsuan{
	width: 15%;
	height: 25px;
	line-height: 25px;
	margin-top: 8px;
	color: white;
	background: #c11e1f;
	text-align: center;
	margin-left: 5%;
	display: inline-block;
	cursor: pointer;
}
#bga{
    display: none;
    position: absolute;
	top: 0%;  left: 0%;
	width: 100%;
    height: 100%;
	background-color: black;
	z-index:198;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
}
.changea{
	position: fixed;
	width: 30%;
	left: 35%;
	top: 210px;
	z-index: 199;
	display: none;
	cursor: pointer;
}
.cart .changea .pdeng{
	height: 35px;
    line-height: 35px;
    padding-left: 3%;
    font-size: 14px;
    font-weight: bold;
    background: #ffd8d9;
    border-bottom: 3px solid #b61524;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0;
    width: 97%;
}
.changea .pdeng span{
	float: right;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 5%;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #b61524;
}
.changeoneea{
	padding-top: 50px;
	width: 100%;
	height: 130px;
	background: #f7f7f7;
}
.changea .changeoneea .num,.changea .changeoneea .zuankou{
	padding-left: 36%;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    width: 100%;
    border-bottom: none;
    display: block;
}
.changea .changeoneea .zuankou{
	display: none;
}
.changea .button,.changea .giveup{
	border-radius: 5px;
	position: absolute;
    top: 140px;
    left: 25%;
	width: 20%;
	height: 30px;
	color: white;
	background:#b61524 ;
}
.changea .giveup{
	 left: 60%;
}

.cart .glyphicon-ok{
    background: green;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
	margin: 1.5rem;
}
.cart .no{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid grey;
	margin: 1.5rem;
}
.total1{
	color: #c11e1f;
}
.clickthis{
	z-index: 99;
}
.glyphicon-plus-sign{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
	margin: 6rem;
	z-index: 99;
}
.glyphicon-minus-sign{
	border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
	margin: 6rem;
	z-index: 99;
}
